/* .img{
  float: right;
} */
body{
  font-family: 'Montserrat';
  text-align: center;

}



h1, h2, h3, h4, h5, h6 {
  font-family: 'Montserrat-bold', Ubuntu;
}

.big-heading{
  font-size: 3.5rem;
  line-height: 1.5;
  color: white;
  padding-left: 0;

}

#title{
  background-color: #fb0091;
  color: #fff;
  margin-top: 0;

}

/* below line affects only the container-fluid which is inside title id */
#title .container-fluid {
  padding: 3% 7% 15%;
}
/* navbar section */

.navbar{
  padding: 0 0 4.5rem;
}
.navbar-brand{
  font-family: Ubuntu;
  font-size: 2.5em;
}

.nav-item{
  padding: 0 18px;
}

.nav-link{
  font-size: 1.2rem;
  font-family: Montserrat-light;

}

/* section one div class fluid-container */
.fluid-container {
  padding: 3% 15%;

}
/* the two download buttons in the top */
.btn-top{
  position: relative;
  margin: 10% 3%;

}



/* title image */

.title-img{
  /* 60 */
  width: 60%;
  transform: rotate(25deg);

  position: absolute;


/* original 30% */

  right: 30%
}

/* feature section related styles */
#features{

  z-index: 1;
  background-color: #fff;
  position: relative;

}

.h3-feature{
  font-size: 1.5em;
  font-weight: bold;

  /* padding-top: 100px; */


}
.icon-feature{
  color: #ef8172;
  font-size: 2em;
  padding-bottom: 12px;
}

.icon-feature:hover{

  color: #fb0091;
}
.p-feature{
  color: #8f8f8f;
}

.feature-section {
  /* padding: 10% 15%; */
  z-index: 1;
  background-color: white;
}

/* style for testimonial */

#testimonials{
    background-color: #fb0091;
    align-items: center;
    color: #fff;
    text-align: center;

}

h2{

  font-size: 3rem;
}

.testimonial-img{

width: 10%;
border-radius: 100%;
align-content: center;


margin: 15px auto 15px auto;


}

/* .testimonial-section{

  text-align: center;
} */
/* .carousel-item{
  padding: 10% 15%;
} */
/* .testimonial-h2 {
  padding-top: 20%
  line-height: 1.5;
  padding-bottom: 5%;
} */

/* pres section */


#press{
  background-color: #fb0091;

  padding-bottom: 3%;



}

.press-img{
  width: 15%;
  margin: 20px 20px 50px;

}


#cta {
  background-color: #fb0091;




}

/* .cta-div{
  padding: 10% 15%;} */

.btn-cta{
  margin: 3% 3%;
}
.h3-cta{
  font-family: 'Montserrat";
  color = #fff;
  font-weight: bolder;

}

#pricing {

    padding: 100px;




}
.price-colomn{
  padding: 3% 2%;

}
.price-div{
  padding: 20px auto 20px auto;
}
#footer {
  background-color: #d4d7dd;
  height: 100px;

}


@media (max-width: 1028px)  {

  .title-img{
    position: relative;
    transform: rotate(0);
    align-items: center;
    margin: auto;
    left: 20%

  }

}

@media (max-width: 1028px) {

  h1 {
    align-items: center;
  }

}


#footer{


line-height: 1.5;
/* padding: 10% 15%; */
}
.fluid-container {
  padding: 10% 15%;
}
.footer-icon{
  margin: 10px;
}
